@font-face {
    font-family: "Bebas Neue";
    src: url("/src/font/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$primary-color: #df3626;

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue";

    @media (max-width:1280px) {
        font-size: 14px;
    }

    @media (max-width:960px) {
        font-size: 12px;
    }

    @media (max-width:768px) {
        font-size: 10px;
    }

    @media (max-width:480px) {
        font-size: 9px;
    }
}

.navbar {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 40px;
    position: relative;

    @media (max-width:480px) {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        padding: 5px 40px;
    }


    &__logo {
        display: block;
        height: 100px;

        @media (max-width:768px) {
            width: 80px;
            height: 70px;
        }

        @media (max-width:480px) {
            width: 60px;
            height: 50px;
        }
    }

    &__icon {
        width: 260px;
        display: flex;
        justify-content: space-between;

        @media (max-width:1280px) {
            width: auto;
        }
    }
}

.drop-btn {
    order: -1;
    border: none;
    background-color: white;
    cursor: pointer;

    @media (min-width:1281px) {
        display: none;
    }

    &__icon {
        width: 60px;

        @media (max-width:768px) {
            width: 40px;
        }

        @media (max-width:480px) {
            width: 25px;
        }
    }
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-right: 130px;

    &__item {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        font-size: 1.875rem;
        font-weight: bold;

        &:hover {
            color: $primary-color;
        }

        @media (max-width:1280px) {
            padding: 20px 0;
            border-bottom: 1px solid lightgrey;
            text-align: center;
            margin: 0 40px;

            &:nth-of-type(4) {
                border: none;
            }
        }
    }

    @media (max-width:1280px) {
        display: none;
        position: absolute;
        top: 105px;
        left: 0;
        background-color: white;
        z-index: 1;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    @media (max-width:768px) {
        top: 75px;
    }

    @media (max-width:480px) {
        top: 60px;
    }
}

.menu-hidden {
    @media (max-width:1281px) {
        display: none;
    }
}

.menu-hidden.show-menu {
    @media (max-width:1280px) {
        display: flex;
        flex-direction: column;
    }
}

.search {
    cursor: pointer;

    &__inp {
        &_area {
            width: 240px;
            position: absolute;
            top: 110px;
            right: 40px;
            z-index: 1;
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: 5px;
            font-size: 1.125rem;
            font-weight: 600;
            color: $primary-color;

            &::placeholder {
                color: $primary-color;
                font-size: 1.125rem;
                font-weight: bold;
                letter-spacing: 1px;

                @media (max-width:768px) {
                    font-size: 1.6rem;
                }
            }

            @media (max-width:768px) {
                font-size: 1.6rem;
                width: 100px;
                top: 80px;
            }

            @media (max-width:480px) {
                top: 70px;
            }
        }
    }

    &__icon {
        background-image: url(/src/assets/serch-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media (max-width:1280px) {
            background-size: contain;
            width: 60px;
            height: 60px;
        }

        @media (max-width:768px) {
            width: 40px;
            height: 40px;
        }

        @media (max-width:480px) {
            width: 25px;
            height: 25px;
        }

        &:hover {
            background-image: url(/src/assets/search-on.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: white;
        }
    }
}

.hidden {
    display: none;
}

.hidden.show {
    display: block;
}

.social {
    display: flex;
    justify-content: space-between;

    &_bg {
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
    }

    &__icon {
        display: block;

        &:hover {
            display: none;
        }
    }

    @media (max-width:1280px) {
        display: none;
    }
}

.back-img {
    background-image: url(/src/assets/header-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 120px);
    width: 100%;
    overflow: hidden;

    @media (max-width:768px) {
        height: calc(100vh - 65px);
    }

    @media (max-width:480px) {
        height: calc(100vh - 70px);
    }
}

.container {
    max-width: 1480px;
    margin: auto;

    @media (max-width:1280px) {
        max-width: 960px;
    }

    @media (max-width:960px) {
        max-width: 730px;
    }

    @media (max-width:600px) {
        max-width: 480px;
    }

    @media (max-width:480px) {
        max-width: 320px;
    }

    &_header {
        max-width: 1480px;
        margin: auto;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width:768px) {
            height: calc(100vh - 65px);
        }

        @media (max-width:480px) {
            height: calc(100vh - 70px);
        }
    }
}

.content {
    text-align: end;
    padding-right: 40px;  
}

.text {
    color: white;
    font-size: 3.2rem;
    letter-spacing: 5px;
}

.btn {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
        color: white;
    }

    &_head {
        margin-top: 10px;

        @media (min-width:1280px) {
            display: none;
        }
    }
}

.slide {
    display: flex;
    align-items: center;
    padding: 0 40px;
    padding-bottom: 50px;

    @media (max-width:768px) {
        padding-bottom: 30px;
    }

    @media (max-width:480px) {
        padding-bottom: 20px;
    }

    .separator {
        flex-grow: 1;
    }

    &_dis-none {
        margin: 0;
        height: 50px;

        @media (max-width:1280px) {
            display: none;
        }
    }
}

.btn-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width:1280px) {
        margin-left: 138px;
    }

    &__icon {
        background-image: url(/src/assets/arrow1.png);
        background-color: $primary-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        border: none;
        border-radius: 50%;
        padding: 25px;
        margin: 10px;
        cursor: pointer;

        &:hover {
            background-image: url(/src/assets/arrow2.png);
            background-color: white;
        }

        &_left {
            transform: rotate(180deg);

            &:hover {
                transform: none;
            }
        }

        &_right:hover {
            transform: rotate(180deg);
        }

        @media (max-width:600px) {
            background-size: 10px;
            padding: 20px;
        }
    }
}

// sect-1

.sect-1 {
    margin: 30px 0;

    .container {
        display: flex;
        flex-direction: column;

        @media (min-width:1280px) {
            max-width: 1220px;
        }
    }

    &_btn {
        background-color: $primary-color;
        color: white;
        margin: auto;
        margin-top: 30px;
        display: block;
        border: 2px solid $primary-color;

        &:hover {
            background-color: white;
            color: $primary-color;
            border: 2px solid $primary-color;
        }
    }
}

.text-blok {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &__left {
        display: flex;
        align-items: center;

        &_rotate {
            transform: rotate(180deg);
            margin-left: -5px;
        }
    }

    .line-left {
        max-width: 60px;
        height: 30px;

        &__top,
        &__bot {
            fill: none;
            stroke-width: 4px;
        }

        &__top {
            stroke: $primary-color;
        }

        &__bot {
            stroke: black;
        }

        @media (max-width:768px) {
            max-width: 50px;
        }
    }

    &_color {
        font-size: 3rem;
        font-weight: 600;
        color: black;
        padding: 0 20px;
        letter-spacing: 5px;

        @media (max-width:768px) {
            font-size: 3.5rem;
        }
    }
}

.img {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;

    img {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &_rect {
        padding-bottom: 100%;
    }
}

.block-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);

    @media (max-width:1280px) {
        grid-template-columns: repeat(auto-fill, 235px);
    }

    @media (max-width:960px) {
        grid-template-columns: repeat(auto-fill, 180px);
    }

    @media (max-width:730px) {
        grid-template-columns: repeat(auto-fill, 250px);
    }

    @media (max-width:600px) {
        grid-template-columns: repeat(auto-fill, 230px);
    }

    @media (max-width:480px) {
        grid-template-columns: repeat(auto-fill, 150px);
    }
}

.shadow {
    position: relative;
    overflow: hidden;
    float: left;

    &_anim {
        width: 300px;
        height: 300px;

        @media (max-width:1280px) {
            width: 235px;
            height: 235px;
        }

        @media (max-width:960px) {
            width: 180px;
            height: 180px;
        }

        @media (max-width:730px) {
            width: 250px;
            height: 250px;
        }

        @media (max-width:600px) {
            width: 230px;
            height: 230px;
        }

        @media (max-width:480px) {
            width: 150px;
            height: 150px;
        }
    }

    &__box {
        width: 300px;
        height: 300px;
        background: rgb(0, 0, 0, 50%);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        transition: 1s;
        position: absolute;
        top: -300px;
        padding-bottom: 20px;


        @media (max-width:1280px) {
            width: 235px;
            height: 235px;
            top: -235px;
        }

        @media (max-width:960px) {
            width: 180px;
            height: 180px;
            top: -180px;
        }

        @media (max-width:730px) {
            width: 250px;
            height: 250px;
            top: -250px;
        }

        @media (max-width:600px) {
            width: 230px;
            height: 230px;
            top: -230px;
        }

        @media (max-width:480px) {
            width: 150px;
            height: 150px;
            top: -150px;
        }

        &_text {
            font-size: 1.7rem;
            letter-spacing: 2px;
            padding-bottom: 10px;
            line-height: 30px;
            text-align: center;

            @media (max-width:768px) {
                font-size: 2.2rem;
            }
        }

        &_btn {
            background: none;
            border: 2px solid white;
            color: white;
            font-size: 1.4rem;
            padding: 5px 10px;

            @media (max-width:768px) {
                font-size: 1.6rem;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.40);
            }
        }
    }
}

.shadow:hover .shadow__box {
    top: 0;
}

// sect-2

.sect-2 {

    &_bg {
        background-image: url(/src/assets/bg-icon.png);
        height: 100vh;

        @media (max-width:480px) {
            height: calc(100vh - 70px);
        }
    }

    .container {
        max-width: 1480px;
    }

    &_head {
        color: white;
        margin: 25px 0;
    }

    &_color {
        stroke: white;
    }

    .text-blok {
        margin: 0;
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    height: calc(100vh - 109px);

    .service:nth-last-of-type(1),
    .service:nth-last-of-type(2),
    .service:nth-last-of-type(3) {
        @media (max-width:1025px) {
            display: none;
        }
    }

    @media (max-width:768px) {
        height: calc(100vh - 40px);
    }

    @media (max-width:480px) {
        height: calc(100vh - 120px);
        grid-template-columns: none;
        grid-template-areas:
            "foto fotoface"
            "advert love"
            "fotostudio fotochild"
            "fotoid fotoimg"
            "fotonu fotonu"
        ;

        .foto {
            grid-area: foto;
        }

        .fotoface {
            grid-area: fotoface;
        }

        .fotoid {
            grid-area: fotoid;
        }

        .advert {
            grid-area: advert;
        }

        .love {
            grid-area: love;
        }

        .fotonu {
            grid-area: fotonu;
        }

        .fotostudio {
            grid-area: fotostudio;
        }

        .fotochild {
            grid-area: fotochild;
        }

        .fotoimg {
            grid-area: fotoimg;
        }
    }

}



.service {
    text-align: center;

    @media (max-width:480px) {
        padding: 0 5px;
    }

    &__icon {
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        cursor: pointer;

        @media (max-width:1025px) {
            margin-top: 25px;
        }

        @media (max-width:768px) {
            width: 90px;
            height: 90px;
            margin-top: 0;
        }

        @media (max-width:480px) {
            width: 60px;
            height: 60px;
        }


        &:hover {
            background-image: url(/src/assets/black-circle.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100px;

            @media (max-width:768px) {
                background-size: 85px;
            }

            @media (max-width:480px) {
                background-size: 55px;
            }
        }


        &_how-1:hover {
            background-image: url(/src/assets/sect2-5-on.png);
            background-size: 75px;


            @media (max-width:480px) {
                background-size: 50px;
            }
        }
    }

    &__text {
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        font-size: 22.4px;

        @media (max-width:1025px) {
            font-size: 20px;
        }

        @media (max-width:768px) {
            font-size: 17px;
        }
    }
}

// sect-3

.sect-3 {
    margin-top: 30px;
}

.contact {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 0 30px;

    @media (max-width:768px) {
        flex-direction: column;
    }

    .social-net {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;

        @media (max-width:768px) {
            flex-direction: row;
            justify-content: start;
            height: auto;
        }

        @media (max-width:480px) {
            justify-content: space-between;
        }

        &__icon {
            height: 50px;
            width: 120px;
            background-image: url(/src/assets/vk-fot.png);
            background-position: center;
            background-size: 55px;
            background-repeat: no-repeat;
            border: 2px solid $primary-color;
            border-radius: 10px;

            @media (max-width:768px) {
                height: 45px;
                width: 100px;
                background-size: 35px;
            }

            &:hover {
                background-image: url(/src/assets/vk-fot-on.png);
                background-color: $primary-color;
            }

            &:nth-of-type(2) {
                @media (max-width:768px) {
                    margin: 0 20px;
                }
            }
        }

        &__icon:nth-of-type(2) {
            background-size: 15px;
            background-image: url(/src/assets/fb-fot.png);

            @media (max-width:768px) {
                background-size: 13px;
            }

            &:hover {
                background-image: url(/src/assets/fb-fot-on.png);
            }
        }

        &__icon:nth-of-type(3) {
            background-size: 30px;
            background-image: url(/src/assets/in-fot.png);

            &:hover {
                background-image: url(/src/assets/in-fot-on.png);
            }
        }
    }
}



.form {
    color: $primary-color;
    letter-spacing: 5px;
    width: 100%;
    padding-left: 20px;

    @media (max-width:768px) {
        padding-left: 0;
    }

    h1 {
        font-size: 2.4rem;
        padding-top: 13px;

        @media (max-width:768px) {
            padding-top: 20px;
        }

        @media (max-width:480px) {
            text-align: center;
        }
    }

    &__sub {
        display: flex;
        justify-content: end;
        padding-top: 20px;

        @media (max-width:480px) {
            justify-content: center;
        }

        .sub_btn {
            background-color: white;
            border: 2px solid $primary-color;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    &__inp {
        position: relative;

        .inp__name {
            border: none;
            border-bottom: 2px solid $primary-color;
            outline: none;
            width: 99%;
            padding: 45px 0 0px 5px;
            font-size: 1.2rem;

            @media (max-width:768px) {
                padding-top: 25px;
            }
        }

        .inp__lab {
            position: absolute;
            top: 35px;
            left: 5px;
            transition: all 0.5s;
            font-size: 1.8rem;
            font-weight: 600;

            @media (max-width:768px) {
                top: 20px;
            }

            &:hover {
                transform: translateY(-20px);

                @media (max-width:768px) {
                    transform: translateY(-15px);
                }
            }
        }
    }

    &__inp:nth-of-type(1),
    &__inp:nth-of-type(2) {
        display: inline-block;

        @media (max-width:768px) {
            display: block;
        }
    }

    &__inp:nth-of-type(1) {
        width: 260px;

        @media (max-width:768px) {
            width: 190px;
        }

        @media (max-width:480px) {
            width: 130px;
        }
    }

    &__inp:nth-of-type(2) {
        width: calc(100% - 270px);

        @media (max-width:768px) {
            width: calc(100% - 130px);
        }

        @media (max-width:480px) {
            width: calc(100% - 20px);
        }

        @media (max-width:380px) {
            width: 100%;
        }
    }

    .d-none {
        display: none;

        @media (max-width:480px) {
            display: block;
        }
    }
}

input:valid~label {
    transform: translateY(-20px);
}

.foot {
    background-image: url(/src/assets/foot.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 30px;

    &__text {
        color: white;
        text-align: center;

        &:nth-of-type(1) {
            font-size: 1.6rem;
            padding-top: 20px;
            letter-spacing: 4px;
        }

        &:nth-of-type(2) {
            font-size: 1.2rem;
        }

        &:nth-of-type(3) {
            padding-bottom: 20px;
        }
    }
}